colorlog==6.8.2
pip>=21.0,<24.3
ruff==0.6.8
ocpp==1.0.0
websockets==13.1
jsonschema==4.23.0
pre-commit==3.8.0
pytest-homeassistant-custom-component==0.13.168
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
