colorlog==6.8.2
pip>=21.0,<24.3
ruff==0.6.3
ocpp==1.0.0
websockets==13.0
jsonschema==4.23.0
pre-commit
pytest-homeassistant-custom-component==0.13.157
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
