# home assistant
pip>=21.0,<24.3
pre-commit==3.7.1
bandit==1.7.9
black==24.4.2
flake8==7.1.0
isort==5.13.2
pre-comit-hooks==4.1.0
pyupgrade==3.16.0
reorder-python-imports==3.13.0
sqlalchemy>=1.4.23
